* {
  box-sizing: border-box;
}

.App > h1 {
  text-align: center;
  font-size: 3rem;
}

.person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: .5rem auto;
  padding: .5rem;
  background: #ffffcc;
  border-radius: 7px;
  .content {
    margin: .5rem;
  }
  input {
    width: 350px;
    line-height: 2.15rem;
    font-size: 1.5rem;
    background: none;
    border: none;
    font-weight: 700;
    font-style: italic;
    border-bottom: 2px solid black;
    transition: .4s;
    padding: 0;
    margin: 0;
    &:nth-of-type(1) {
      width: 200px;
      font-size: 2rem;
    }
    &:hover {
      background: #ffff9a;
    }
    &:focus {
      background: #ffff9a;
      outline: none;
    }
  }
  h1 {
    width: 200px;
  }
  h2 {
    width: 350px;
  }
  button {
    cursor: pointer;
    background: none;
    width: 100%;
    border: 1px solid #eeee00;
    border-radius: 7px;
    font-size: .8rem;
    padding: .3rem 1rem;
    transition: .4s;
    &:hover {
      background: #ffff9a;
    }
    &:focus {
      outline: none
    }
  }
  .buttons {
    width: 100px;
  }
  .placeholder {
    height: 1.5rem;
  }
}
