* {
  box-sizing: border-box;
}

.App > h1 {
  text-align: center;
  font-size: 3rem;
}

.people {
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(333px - 2.8rem));
  grid-row-gap: 1.4rem;
  grid-column-gap: 1.4rem;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.person {
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  background: #ffffcc;
  border-radius: 7px;
  box-shadow: 0 7px 7px #acac6a44;
  .content {
    margin: .5rem;
  }
  input {
    width: 95%;
    font-size: 1.5rem;
    line-height: 2.15rem;
    background: none;
    color: #888888;
    font-weight: 700;
    font-style: italic;
    border: none;
    border-bottom: 2px solid black;
    padding: 0;
    margin: 0;
    transition: .4s;
    &:nth-of-type(1) {
      font-size: 2rem;
    }
    &:hover {
      background: #ffff9a;
    }
    &:focus {
      background: #ffff9a;
      outline: none;
    }
  }
  h1, h2 {
    width: 95%;
    line-height: 2.15rem;
    border-bottom: 2px solid black;
  }
  h2 {
    margin-top: 1rem !important;
  }
  button {
    cursor: pointer;
    background: none;
    width: 100%;
    border: 1px solid #eeee00;
    border-radius: 7px;
    font-size: .8rem;
    padding: .3rem 1rem;
    transition: .4s;
    &:hover {
      background: #ffff9a;
    }
    &:focus {
      outline: none
    }
  }
  .buttons {
    width: 100%;
    display: flex;
  }
  .placeholder {
    height: 1.5rem;
  }
  &::after {
    content: '';
    position: absolute;
  }
}
